/*.item-tile {*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/
.item-image-container {
    position: relative;
    max-width: 75px;
    max-height: 75px;
    /*width: 100%;*/
}
.item-image {
    max-width: 75px;
    max-height: 75px;
    margin: auto;
}
.unselected {
    opacity: 0.4;
}
